doctype html
html
  head
    meta(charset='utf-8')
    link(rel="stylesheet", href="css/styles.css")
  body
    #container(
      @keyup.prevent.left="movePage(-1)",
      @keyup.prevent.right="movePage(1)",
    )
      #url(style="display:none") !{url}
      input(
        placeholder="https://e-hentai.org/g/.../.../",
        v-model="url",
        autofocus=true,
        :class="{ invalid:!isUrlValid }",
        :disabled="isLoading"
      )
      img(v-show="isLoading",src="img/loading.svg")
      img(v-for="img in curPage",:src="img")
      nav(v-show="images.length > 50")
        button(@click="movePage(-1)") &lt;
        input(type="number",v-model.number="page",style="{ width:150 }")
        button(@click="movePage(1)") &gt;
      button(@click="movePage(0)") To top
    script(src="js/vue.js")
    script(src="js/script.js")